<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    对于你的函数的输入，你将得到一个句子。你必须返回一个更正过的版本，以大写字母开始，以句号（点）结束。 
</p>

<p><i>要注意的是，并非所有的修正都是必要的。如果一个句子已经以句号（点）结尾，那么再增加一个句子将是一个错误。</i></p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}correct-sentence.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>一个字符串 <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<p>
    <strong>前提条件：</strong>
    <i>没有前面和后面的空格，文本只包含空格、a-z、A-Z、", "和"."。</i>
</p>
