<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    W celu wprowadzenia funkcji otrzymają Państwo jedno zdanie. Proszę zwrócić poprawioną wersję, która zaczyna się wielką literą i kończy kropką. 
</p>

<p><i>Proszę zwrócić uwagę, że nie wszystkie poprawki są konieczne. Jeśli zdanie już kończy się kropką, to dodanie kolejnej będzie błędem.</i></p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}correct-sentence.png" alt="example" style="max-height: 200px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Dane wejściowe:</strong> Ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Ciąg znaków <span>(str{% if is_js %}ing{% endif %})</span>.
</p>


<!-- Put some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Przykłady:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<!-- Here you can explain how it can be used in development and what is usage of this. -->
<p>
    <strong>Warunek wstępny:</strong>
    <i>Brak początkowych i końcowych spacji, tekst zawiera tylko spacje, a-z, A-Z, "," i ".".</i>
</p>
